/* 
1.0 Base
    1.1 Header
        1.1.1 Top Menu
        1.1.2 Header Menu
    1.2 Footer
        1.2.1 Footer Top
        1.2.2 Footer Bottom
3.0 Content
    3.1 Home Page Content
        3.1.1 Content Page 1
        3.1.2 Cotent Page 2
    3.2 Blog Content
        3.2.1 Item Blog Content
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans:300,400,700|Pacifico&display=swap");
* {
  font-family: "Montserrat", sans-serif; }

.header__top {
  width: 100%;
  height: 46px;
  background: #222222; }
  .header__top span {
    color: #525252;
    font-size: 14px; }
  .header__top a {
    font-size: 14px;
    color: #525252; }
    .header__top a:hover {
      color: #8262b5;
      text-decoration: none; }
  .header__top__left {
    float: left;
    padding: 10px;
    margin-left: 20px;
    height: 100%; }
  .header__top__right-1 {
    padding: 10px;
    height: 100%;
    float: right;
    margin-right: 10px; }
  .header__top__right-2 {
    height: 100%;
    padding: 10px;
    float: right;
    margin-right: 20px; }

.header__bottom {
  width: 100%;
  height: 80px;
  background: #ffff;
  border: 1px #dddddd solid;
  margin-bottom: 30px; }
  .header__bottom .logo {
    float: left;
    margin: 20px 0 0 30px;
    width: 200px; }
    .header__bottom .logo a {
      display: inline-block; }
    .header__bottom .logo img {
      width: auto;
      height: auto; }
  .header__bottom .nav-link {
    float: left;
    margin: 15px 0 0 110px; }
    .header__bottom .nav-link li {
      padding-left: 40px;
      list-style-type: none;
      display: inline;
      text-transform: uppercase;
      font-weight: bold; }
    .header__bottom .nav-link a {
      font-size: 14px;
      color: #111111; }
      .header__bottom .nav-link a:hover {
        color: #8262b5;
        text-decoration: none; }
    .header__bottom .nav-link .menu {
      display: none; }
  .header__bottom .icon-link {
    float: right;
    margin: 15px 30px 0 0px; }
    .header__bottom .icon-link li {
      list-style-type: none;
      display: inline;
      padding-left: 40px; }
    .header__bottom .icon-link a {
      font-size: 25px;
      color: #111111; }
      .header__bottom .icon-link a:hover {
        color: #8262b5;
        text-decoration: none; }

@media all and (max-width: 575px) {
  .header__top {
    height: 80px; }
    .header__top__left {
      width: 240px;
      float: left;
      padding: 15px;
      height: 100%;
      margin-left: 0px; }
    .header__top__right-1 {
      padding-top: 25px;
      margin: 0;
      float: right; }
      .header__top__right-1 span {
        display: none; }
    .header__top__right-2 {
      padding-top: 25px;
      float: right;
      margin: 0; }
      .header__top__right-2 span {
        display: none; }

  .header__bottom .logo {
    float: right;
    margin: 20px 15px 0 0;
    width: 50%; }
    .header__bottom .logo a {
      display: inline-block; }
    .header__bottom .logo img {
      width: 100%;
      height: 100%; }
  .header__bottom .icon-link {
    float: none;
    padding: 8px 0 0 0; }
    .header__bottom .icon-link li {
      list-style-type: none;
      display: inline;
      padding-left: 10px; }
  .header__bottom .nav-link {
    padding: 8px 0 0 15px;
    margin: 0;
    float: left; }
    .header__bottom .nav-link ul, .header__bottom .nav-link li {
      padding: 0; }
    .header__bottom .nav-link .menu {
      font-size: 45px;
      font-weight: bold;
      display: block; }
    .header__bottom .nav-link .dropbtn {
      border: none;
      cursor: pointer; }
    .header__bottom .nav-link .dropbtn:hover, .header__bottom .nav-link .dropbtn:focus {
      opacity: 0.5; }
    .header__bottom .nav-link .dropdown {
      position: relative;
      display: inline-block; }
    .header__bottom .nav-link .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
    .header__bottom .nav-link .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
    .header__bottom .nav-link .dropdown a:hover {
      color: #8262b5; }
    .header__bottom .nav-link .show {
      display: block; } }
@media all and (min-width: 576px) and (max-width: 767px) {
  .header__top {
    height: 80px; }
    .header__top__left {
      padding: 30px;
      height: 100%; }
    .header__top__right-1 {
      padding-top: 30px;
      float: right; }
      .header__top__right-1 span {
        display: none; }
    .header__top__right-2 {
      padding-top: 30px;
      float: right; }
      .header__top__right-2 span {
        display: none; }

  .header__bottom .icon-link {
    float: none;
    padding: 8px 10px 0 0; }
    .header__bottom .icon-link li {
      list-style-type: none;
      display: inline;
      padding-left: 30px; }
  .header__bottom .logo {
    float: right;
    margin: 20px 15px 0 0;
    width: 200px; }
    .header__bottom .logo a {
      display: inline-block; }
    .header__bottom .logo img {
      width: auto;
      height: auto; }
  .header__bottom .nav-link {
    padding: 8px 0 0 15px;
    margin: 0px;
    float: left;
    width: 30%; }
    .header__bottom .nav-link ul, .header__bottom .nav-link li {
      padding: 0; }
    .header__bottom .nav-link .menu {
      font-size: 45px;
      font-weight: bold;
      display: block; }
    .header__bottom .nav-link .dropbtn {
      border: none;
      cursor: pointer; }
    .header__bottom .nav-link .dropbtn:hover, .header__bottom .nav-link .dropbtn:focus {
      opacity: 0.5; }
    .header__bottom .nav-link .dropdown {
      position: relative;
      display: inline-block; }
    .header__bottom .nav-link .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
    .header__bottom .nav-link .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
    .header__bottom .nav-link .dropdown a:hover {
      color: #8262b5; }
    .header__bottom .nav-link .show {
      display: block; } }
@media all and (min-width: 768px) and (max-width: 991px) {
  .header__bottom {
    margin-bottom: 60px; }
    .header__bottom .nav-link {
      position: absolute;
      margin: 0 0 0 15px;
      padding-top: 30px;
      top: 100px; }
      .header__bottom .nav-link ul {
        margin-top: 15px;
        padding-left: 0px; }
      .header__bottom .nav-link li {
        padding: 0 15px; }
    .header__bottom .icon-link {
      float: none;
      margin: 25px 30px 0 75%; }
      .header__bottom .icon-link li {
        padding: 0 15px; } }
@media all and (min-width: 992px) and (max-width: 1200px) {
  .header__bottom .nav-link {
    margin: 23px 0 0 0; }
    .header__bottom .nav-link li {
      padding: 0 5px; }
  .header__bottom .icon-link {
    position: absolute;
    right: 15px;
    top: 55px; }
    .header__bottom .icon-link li {
      padding-left: 20px; } }
.container {
  padding: 0px; }

.banner {
  margin-bottom: 74px; }
  .banner a {
    display: block; }
  .banner img {
    position: relative; }
  .banner .two {
    position: absolute;
    font-family: "Pacifico", cursive;
    font-size: 30px;
    font-weight: bold;
    top: 310px;
    left: 350px; }

.banner-aside .col-lg-12 {
  padding: 0px; }
.banner-aside a {
  display: block; }
.banner-aside .aside-1 {
  margin-bottom: 30px; }
  .banner-aside .aside-1 .small {
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    top: 78px;
    left: 70px; }
  .banner-aside .aside-1 .make {
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    top: 100px;
    left: 70px; }
.banner-aside .aside-2 .folio {
  position: absolute;
  font-size: 20px;
  text-transform: uppercase;
  top: 115px;
  left: 35px; }
.banner-aside .aside-2 .back {
  position: absolute;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  top: 136px;
  left: 35px; }

.shop-now {
  width: 105px;
  height: 40px;
  background-color: #8262b5;
  position: absolute;
  bottom: 152px;
  left: 567px; }
  .shop-now a {
    font-size: 14px;
    color: #ffff; }
    .shop-now a:hover {
      color: #000000;
      text-decoration: none; }
  .shop-now a {
    display: block;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.shop-now-2 {
  width: 109px;
  height: 40px;
  background-color: #8262b5;
  position: absolute;
  bottom: 111px;
  left: 40px; }
  .shop-now-2 a {
    font-size: 14px;
    color: #ffff; }
    .shop-now-2 a:hover {
      color: #000000;
      text-decoration: none; }
  .shop-now-2 a {
    display: block;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

@media all and (max-width: 575px) {
  .banner {
    padding: 15px; }
    .banner img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      max-width: 100%;
      max-height: 100%; }
    .banner .two {
      font-size: 18px;
      top: 58%;
      left: 50%; }

  .shop-now {
    position: absolute;
    width: 85px;
    height: 30px;
    background-color: #8262b5;
    position: absolute;
    bottom: 20%;
    left: 60%; }
    .shop-now a {
      font-size: 14px;
      color: #ffff; }
      .shop-now a:hover {
        color: #000000;
        text-decoration: none; }
    .shop-now a {
      display: block;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

  .banner-aside .aside-1 {
    padding: 0px;
    margin-bottom: 15px; }
    .banner-aside .aside-1 img {
      width: 100%; }
    .banner-aside .aside-1 .small {
      top: 78px;
      left: 70px; }
    .banner-aside .aside-1 .make {
      top: 100px;
      left: 70px; }
  .banner-aside .aside-2 {
    padding: 0px; }
    .banner-aside .aside-2 img {
      width: 100%; }
    .banner-aside .aside-2 .folio {
      top: 30%;
      left: 30%; }
    .banner-aside .aside-2 .back {
      top: 35%;
      left: 30%; }
  .banner-aside .shop-now-2 {
    width: 109px;
    height: 40px;
    background-color: #8262b5;
    position: absolute;
    bottom: 20%;
    left: 20%; }
    .banner-aside .shop-now-2 a {
      font-size: 14px;
      color: #ffff; }
      .banner-aside .shop-now-2 a:hover {
        color: #000000;
        text-decoration: none; }
    .banner-aside .shop-now-2 a {
      display: block;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
@media all and (min-width: 576px) and (max-width: 767px) {
  .banner {
    margin-bottom: 10px; }
    .banner img {
      position: relative;
      max-width: 100%;
      max-height: 100%; }
    .banner .two {
      position: absolute;
      font-family: "Pacifico", cursive;
      font-size: 18px;
      font-weight: bold;
      top: 60%;
      left: 50%; }

  .banner-aside {
    width: 100%; }
    .banner-aside .col-md-6 {
      padding: 0px; }
    .banner-aside img {
      width: 100%;
      height: 150px; }
    .banner-aside .aside-1 {
      padding-right: 15px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 20px;
      float: left; }
      .banner-aside .aside-1 .small {
        top: 30%;
        left: 14%; }
      .banner-aside .aside-1 .make {
        top: 45%;
        left: 14%; }
    .banner-aside .aside-2 {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 20px;
      padding-left: 15px;
      float: right; }
      .banner-aside .aside-2 .folio {
        top: 20%;
        left: 13%; }
      .banner-aside .aside-2 .back {
        top: 35%;
        left: 13%; }

  .shop-now {
    position: absolute;
    width: 105px;
    height: 40px;
    background-color: #8262b5;
    position: absolute;
    bottom: 20%;
    left: 60%; }
    .shop-now a {
      font-size: 14px;
      color: #ffff; }
      .shop-now a:hover {
        color: #000000;
        text-decoration: none; }
    .shop-now a {
      display: block;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

  .shop-now-2 {
    position: absolute;
    width: 105px;
    height: 40px;
    background-color: #8262b5;
    position: absolute;
    bottom: 15%;
    left: 15%; }
    .shop-now-2 a {
      font-size: 14px;
      color: #ffff; }
      .shop-now-2 a:hover {
        color: #000000;
        text-decoration: none; }
    .shop-now-2 a {
      display: block;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
@media all and (min-width: 768px) and (max-width: 991px) {
  .banner img {
    position: relative;
    max-width: 100%;
    max-height: 100%; }
  .banner .two {
    font-size: 26px;
    font-weight: bold;
    top: 60%;
    left: 50%; }

  .banner-aside {
    width: 100%; }
    .banner-aside .col-md-6 {
      padding: 0px; }
    .banner-aside img {
      width: 100%;
      height: 190px; }
    .banner-aside .aside-1 {
      padding-right: 15px;
      margin-top: 20px;
      float: left; }
    .banner-aside .aside-2 {
      padding-left: 15px;
      margin-top: 20px;
      float: right; }
      .banner-aside .aside-2 .folio {
        top: 20%;
        left: 13%; }
      .banner-aside .aside-2 .back {
        top: 35%;
        left: 13%; }
    .banner-aside .shop-now-2 {
      position: absolute;
      width: 105px;
      height: 40px;
      background-color: #8262b5;
      position: absolute;
      bottom: 15%;
      left: 15%; }
      .banner-aside .shop-now-2 a {
        font-size: 14px;
        color: #ffff; }
        .banner-aside .shop-now-2 a:hover {
          color: #000000;
          text-decoration: none; }
      .banner-aside .shop-now-2 a {
        display: block;
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }

  .shop-now {
    position: absolute;
    width: 105px;
    height: 40px;
    background-color: #8262b5;
    position: absolute;
    bottom: 23%;
    left: 60%; }
    .shop-now a {
      font-size: 14px;
      color: #ffff; }
      .shop-now a:hover {
        color: #000000;
        text-decoration: none; }
    .shop-now a {
      display: block;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
@media all and (min-width: 991px) and (max-width: 1200px) {
  .banner .two {
    font-size: 26px;
    font-weight: bold;
    top: 60%;
    left: 50%; }
  .banner img {
    max-height: 100%;
    max-width: 100%; }

  .banner-aside img {
    position: relative; }
  .banner-aside .aside-1 {
    margin-bottom: 30px; }
  .banner-aside .aside-2 .folio {
    top: 20%;
    left: 13%; }
  .banner-aside .aside-2 .back {
    top: 35%;
    left: 13%; }
  .banner-aside .aside-2 .shop-now-2 {
    position: absolute;
    width: 105px;
    height: 40px;
    background-color: #8262b5;
    position: absolute;
    bottom: 15%;
    left: 15%; }
    .banner-aside .aside-2 .shop-now-2 a {
      font-size: 14px;
      color: #ffff; }
      .banner-aside .aside-2 .shop-now-2 a:hover {
        color: #000000;
        text-decoration: none; }
    .banner-aside .aside-2 .shop-now-2 a {
      display: block;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

  .shop-now {
    position: absolute;
    width: 105px;
    height: 40px;
    background-color: #8262b5;
    position: absolute;
    bottom: 30%;
    left: 60%; }
    .shop-now a {
      font-size: 14px;
      color: #ffff; }
      .shop-now a:hover {
        color: #000000;
        text-decoration: none; }
    .shop-now a {
      display: block;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

  .shop-now-2 {
    position: absolute;
    width: 105px;
    height: 40px;
    background-color: #8262b5;
    position: absolute;
    bottom: 15%;
    left: 10%; }
    .shop-now-2 a {
      font-size: 14px;
      color: #ffff; }
      .shop-now-2 a:hover {
        color: #000000;
        text-decoration: none; }
    .shop-now-2 a {
      display: block;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

  .shop-now {
    position: absolute;
    width: 105px;
    height: 40px;
    background-color: #8262b5;
    position: absolute;
    bottom: 23%;
    left: 60%; }
    .shop-now a {
      font-size: 14px;
      color: #ffff; }
      .shop-now a:hover {
        color: #000000;
        text-decoration: none; }
    .shop-now a {
      display: block;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
/*<-----------------------------------3.1 Home_page_content--------------------------------------------->*/
.main {
  margin-bottom: 72px; }

.text {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 12px; }
  .text .brand {
    margin-bottom: 7px; }
    .text .brand span, .text .brand p {
      letter-spacing: 0.5em;
      color: #8262b5;
      font-weight: bold; }
  .text .cate {
    letter-spacing: 0.1em;
    font-size: 24px;
    font-weight: bold; }
  .text .bo-hr {
    width: 50px;
    height: 5px;
    border-bottom: 1px #8262b5 solid; }

.feature-product .product-row {
  margin-bottom: 42px; }
.feature-product .product-item .item {
  position: relative;
  margin-bottom: 15px; }
  .feature-product .product-item .item img {
    max-height: 100%;
    max-width: 100%; }
  .feature-product .product-item .item .add-cart {
    width: 120px;
    height: 40px;
    background-color: #ffff;
    position: absolute;
    bottom: 5px;
    left: 5px; }
    .feature-product .product-item .item .add-cart a {
      font-size: 12px;
      color: #000000; }
      .feature-product .product-item .item .add-cart a:hover {
        color: #8262b5;
        text-decoration: none; }
    .feature-product .product-item .item .add-cart a {
      text-transform: uppercase;
      display: block;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
.feature-product .product-item .product-details p {
  padding-bottom: 3px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 1px; }
.feature-product .product-item .product-details .star-color {
  font-size: 12px;
  color: yellow; }
.feature-product .product-item .product-details .star {
  font-size: 12px;
  color: #d1d1d1; }
.feature-product .product-item .product-details .line-through {
  text-decoration: line-through;
  color: #525252; }
.feature-product .product-item .product-details .price {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #8262b5; }

@media all and (max-width: 575px) {
  .text {
    padding-left: 15px; }

  .main {
    margin-bottom: 0; }

  .feature-product .product-row {
    margin-bottom: 0; }
  .feature-product .product-item {
    margin-bottom: 10px; }
    .feature-product .product-item .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      margin-bottom: 18px; }
      .feature-product .product-item .item img {
        max-height: 100%;
        max-width: 100%; }
      .feature-product .product-item .item .add-cart {
        width: 120px;
        height: 40px;
        background-color: #ffff;
        position: absolute;
        bottom: 5%;
        left: auto; }
        .feature-product .product-item .item .add-cart a {
          font-size: 12px;
          color: #000000; }
          .feature-product .product-item .item .add-cart a:hover {
            color: #8262b5;
            text-decoration: none; }
        .feature-product .product-item .item .add-cart a {
          text-transform: uppercase;
          display: block;
          height: 100%;
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
    .feature-product .product-item .product-details {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 20px; }
      .feature-product .product-item .product-details p {
        margin: 0;
        text-align: center; } }
@media all and (min-width: 575px) and (max-width: 767px) {
  .product-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .product-item {
    margin-bottom: 10px;
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0; }
    .product-item .item {
      width: 210px; } }
@media all and (min-width: 768px) and (max-width: 1024px) {
  .feature-product .product-row {
    margin-bottom: 0; }
  .feature-product .product-item {
    text-align: center; }
    .feature-product .product-item .item .add-cart {
      width: 120px;
      height: 40px;
      background-color: #ffff;
      position: absolute;
      bottom: 5%;
      left: 31%; }
      .feature-product .product-item .item .add-cart a {
        font-size: 12px;
        color: #000000; }
        .feature-product .product-item .item .add-cart a:hover {
          color: #8262b5;
          text-decoration: none; }
      .feature-product .product-item .item .add-cart a {
        text-transform: uppercase;
        display: block;
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
@media all and (min-width: 1024px) and (max-width: 1368px) {
  .feature-product .product-item .item .add-cart {
    width: 120px;
    height: 40px;
    background-color: #ffff;
    position: absolute;
    bottom: 5%;
    left: 21%; }
    .feature-product .product-item .item .add-cart a {
      font-size: 12px;
      color: #000000; }
      .feature-product .product-item .item .add-cart a:hover {
        color: #8262b5;
        text-decoration: none; }
    .feature-product .product-item .item .add-cart a {
      text-transform: uppercase;
      display: block;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
.blog {
  height: 710px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .blog .container {
    padding: 0 15px; }
  .blog .content {
    text-align: center;
    margin-top: 75px;
    height: 100px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5em;
    color: #8262b5;
    margin-bottom: 32px; }
    .blog .content h3 {
      letter-spacing: 0.1em;
      font-weight: bold;
      color: #000000;
      font-size: 24px; }
    .blog .content hr {
      margin-top: 22px;
      width: 50px;
      border-top: 1.5px solid #8262b5; }
    .blog .content p {
      margin-bottom: 12px; }
    .blog .content .lastest {
      margin-left: 3px; }
  .blog .blog-slide img {
    width: 100%;
    height: 200px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    /* For IE8 and earlier */ }
    .blog .blog-slide img:hover {
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%);
      /* For IE8 and earlier */ }
  .blog .blog-slide .slick-active img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    /* For IE8 and earlier */ }
  .blog .blog-slide .slick-dots {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    padding: 30px 0;
    list-style-type: none; }
    .blog .blog-slide .slick-dots li {
      margin: 0 0.25rem; }
      .blog .blog-slide .slick-dots li button {
        background: #ccbfe0;
        height: 10px;
        width: 10px; }
    .blog .blog-slide .slick-dots button {
      display: block;
      width: 10px;
      height: 10px;
      padding: 0;
      border: none;
      border-radius: 100%;
      background: #ccbfe0;
      text-indent: -9999px; }
    .blog .blog-slide .slick-dots li.slick-active button {
      width: 13px;
      height: 13px;
      -webkit-transform-origin: center;
              transform-origin: center;
      background-color: #8262b5;
      margin-bottom: 5px; }
  .blog .blog-slide .blog-content {
    position: relative;
    padding: 0 15px; }
    .blog .blog-slide .blog-content .calendar {
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: #a1d1dd;
      top: 22px;
      left: 37px; }
      .blog .blog-slide .blog-content .calendar .month {
        margin: 5px;
        width: 50px;
        height: 50px;
        border: 1px #fff solid;
        text-align: center;
        text-transform: uppercase; }
        .blog .blog-slide .blog-content .calendar .month p {
          font-size: 14px;
          margin: 0;
          color: #fff; }
        .blog .blog-slide .blog-content .calendar .month .date {
          font-weight: bold; }
    .blog .blog-slide .blog-content .blog-detail {
      background-color: #fff;
      border-bottom: 1px #ededed solid;
      padding: 13px 15px 0 18px; }
      .blog .blog-slide .blog-content .blog-detail a {
        color: #000;
        font-weight: bold;
        text-decoration: none; }
        .blog .blog-slide .blog-content .blog-detail a:hover {
          color: #9377bf; }
      .blog .blog-slide .blog-content .blog-detail p {
        margin-bottom: 14px; }
    .blog .blog-slide .blog-content .blog-icon {
      font-size: 14px;
      color: #e6e6e6;
      background-color: #fff;
      height: 50px;
      padding: 10px 0 0 5px; }
      .blog .blog-slide .blog-content .blog-icon span {
        padding-left: 15px; }

@media all and (min-width: 320px) and (max-width: 600px) {
  .blog {
    height: 650px; }
    .blog .content {
      margin-top: 15px; } }
footer {
  background-color: #222222;
  height: 420px; }
  footer .center {
    margin: 0 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  footer .text-center-detail {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 0px; }
    footer .text-center-detail a {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      color: #888888;
      text-transform: capitalize; }
      footer .text-center-detail a:hover {
        text-decoration: underline;
        color: #fff; }
  footer .title {
    height: 107px;
    padding-top: 57px;
    border-bottom: 1px #525252 solid; }
    footer .title p {
      color: #dbdbdb;
      font-weight: bold; }
  footer .detail {
    padding: 24px 0 0 0; }
    footer .detail p {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #818181; }
    footer .detail__location a {
      color: #818181; }
    footer .detail__location p {
      text-transform: capitalize; }
    footer .detail__location i {
      padding-right: 16px; }
  footer .icon {
    padding: 55px 0 0 0; }
    footer .icon a {
      color: #818181;
      padding-right: 18px; }
  footer .stick-footer {
    border-top: 1px #393939 solid;
    margin-top: 30px; }
    footer .stick-footer a {
      color: #fff;
      text-decoration: none; }
      footer .stick-footer a:hover {
        color: #8262b5; }
    footer .stick-footer span {
      color: red; }
  footer .visa-icon {
    text-align: right; }

@media all and (max-width: 575px) {
  footer {
    padding: 0 15px;
    height: auto; }
    footer .center {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    footer .title {
      height: 50px;
      padding-top: 10px; }
    footer .stick-footer {
      text-align: center; } }
@media all and (min-width: 576px) and (max-width: 767px) {
  footer {
    padding: 0 15px;
    height: auto; }
    footer .center {
      margin: 0; } }
@media all and (min-width: 768px) and (max-width: 991px) {
  footer {
    padding: 0 15px;
    height: auto; }
    footer .center {
      margin: 0; } }
@media all and (min-width: 1024px) and (max-width: 1336px) {
  footer {
    height: 1150px; }
    footer .about-shop {
      display: initial; }
    footer .shop-location {
      display: initial; } }

/*# sourceMappingURL=style.css.map */